<%- include("./include/header.ejs") %>

    <!-- jumbotron section -->
    <br>
    <div class="container">
    <div class="jumbotron">
      <h1 class="display-3 text-center">Shopify, Your Online Shop!</h1>
      <p class="text-center">Shopify is your number one online shopping site in The world. We are an online store where you can purchase all your Product at ease.</p>
    </div>
  </div>
    <!-- end Jumbotron section -->


  

  
  <!-- sale section -->
      <section class="">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="text-center">
                <h2> Our Products </h2>
                  <p class="text-center"> There are many variations of passages of Lorem Ipsum available, but the </p>
              </div>
            </div>
          </div>
          
          <div class="row">
            <% products.forEach((product)=> { %>
              <div class="col-md-3">
                <div class="box">
                  <div class="">
                    <img src="uploads/<%= product.file %>" alt="" width="100%">
                  </div>
                    
                  <div class="detail-box">
                    <b> <p><%= product.category %></p></b>
                      <h6> <%= product.name %> </h6>
                      <p> <%= product.description.substring(0, 100) %> ... </p>     
                      <a href="#" class="btn btn-default"><%= product.price %> </a>
                      <a href="/<%= product._id %>" class="btn btn-info"> Details </a>
                  </div><!-- end details -->
                </div><!-- end box -->
              </div><!-- end col -->
            <% })%>
        
            <!-- <div class="btn-box">
              <a href="">
                Find More
              </a>
            </div> -->
          </div>  
        </div>
      </section>

  <!-- end sale section -->

  <!-- why us section -->

  <section class="why_us_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Why Choose Us?
        </h2>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-6 mx-auto">
          <div class="box">
            <div class="img-box">
              <img src="images/w1.png" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Satisfied customers
              </h5>
              <p>
                Shopify is your number one online shopping site in The world. We are an online store where you can purchase all your electronics, home appliances, kiddies items, fashion items for men, women, and children; cool gadgets,  and more on the go. 
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 mx-auto">
          <div class="box">
            <div class="img-box">
              <img src="images/w2.png" alt="">
            </div>
            <div class="detail-box">
              <h5>
                24/7 Support
              </h5>
              <p>
                We are an online store where you can purchase all your electronics, as well as books, home appliances, kiddies items, fashion items for men, women, and children; cool gadgets, computers, groceries, automobile parts, and more on the go.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 mx-auto">
          <div class="box">
            <div class="img-box">
              <img src="images/w3.png" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Affordable price
              </h5>
              <p>
                 Shopify has payment options for everyone irrespective of taste, class, and preferences. You also have the option to make your payment on delivery for extra convenience. Shopping online from anywhere is easy with Shopify.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="btn-box">
        <a href="">
          Read More
        </a>
      </div> -->
    </div>
  </section>

  <!-- end why us section -->

<%- include("./include/footer.ejs") %>





 

  